<div class="container-fluid bg-light py-5" id="authentic">
    <!-- First Row -->
    <div class="row p-md-4">
      <div class="col-md-6">
  
        <h2 class="featurette-heading lh-1" data-aos="fade-right"><span class="text-muted">Truly </span>Authentic</h2>
        <p class="lead fs-2 text-secondary" data-aos="zoom-in-left" data-aos-anchor="#authentic">
          Introducing <span class="fw-bold">REAL</span> Okinawan karate.
        </p>
        <div class="divider-red"></div>
        <p class="lead" data-aos="fade-up">Since the 1980s we've been dedicated students of Seikichi Iha (伊波清吉), Hanshi
          10th Dan,
          and highest ranking Shōrin-ryū master in the US.
        </p>
        <p class="lead" data-aos="fade-up">
          In 2024 we were accepted directly under Morinobu Maeshiro (真栄城 守信),
          Hanshi 10th Dan and President of the world Shorinryu Karatedo Association in Okinawa.
        </p>
        <p class="lead mb-1" data-aos="fade-up">
          The Okinawa Prefecture Government has designated both Iha Sensei and Maeshiro Sensei as
          <span class="text-success fw-bold">Intangible Cultural Asset Holders</span> in the Field of Okinawan Karate,
          a recognition of authenticity and historical preservation granted to only 9 masters alive today.
        </p>
      </div>
  
      <div class="col-md-6 pt-md-5 text-center mb-3">
        <img
          src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,g_xy_center,q_auto:best,y_1500/v1716947085/ook/people/maeshiro_mayne.jpg"
          class="card-img-top" alt="Sensei Mayne with Sensei Maeshiro">
        <figcaption class="figure-caption">
          Sensei Maeshiro and Mayne<br><small class="text-muted">Okinawa, April 2024</small>
        </figcaption>
      </div>
  
    </div>
    <!-- /END First Row -->
  
    <div class="row py-4 p-md-4">
      <div class="col-md-4 text-center pb-3" data-aos="fade-up">
        <img
          src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_crop,e_sharpen,g_north_east,w_800/v1717325517/ook/people/iha_teaching_gr.jpg"
          class="card-img-top" alt="Sensei Mayne with Sensei Maeshiro">
        <figcaption class="figure-caption">
          Sensei Iha teaching in Grand Rapids
        </figcaption>
  
      </div>
  
      <!-- meet maeshiro -->
      <div class="col-6 col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-4">
              <video preload="metadata" controls class="card-img-top" style="border-top-right-radius:0">
                <source
                  src="https://res.cloudinary.com/blue-i/video/upload/v1718277386/ook/videos/Maeshiro_short.mp4#t=0.1"
                  type="video/mp4">
                Your browser does not support HTML video.
              </video>
  
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Meet Sensei Maeshiro</h5>
                <p class="card-text">Click the video to hear a brief introduction, or watch the full interview
                  <a href="https://www.youtube.com/watch?v=KqNj4qWyci0" target="_blank" class="link-primary"
                    rel="noopener noreferrer">here</a>.
                </p>
                <p class="small">Credit: Chris Wilson Photography</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- meet iha -->
      <div class="col-6 col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-4">
              <video preload="metadata" controls class="card-img-top" style="border-top-right-radius:0">
                <source
                  src="https://res.cloudinary.com/blue-i/video/upload/vc_auto/v1718277389/ook/videos/Seikichi_Iha_short.mp4#t=0.1"
                  type="video/mp4">
                Your browser does not support HTML video.
              </video>
  
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Meet Sensei Iha</h5>
                <p class="card-text">Watch this a 1-min introduction, or view the full interview
                  <a href="https://www.youtube.com/watch?v=dJ0Ur4zdiwc" target="_blank" class="link-primary"
                    rel="noopener noreferrer">here</a>.
                </p>
                <p class="small">Credit: Chris Wilson Photography</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>