<div id="technique" class="container-fluid bg-light py-5">
    <div class="row mb-3 p-md-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading lh-1" data-aos="fade-down">Effective <span class="text-muted">Technique</span></h2>
        <div class="divider-red"></div>
  
  
        <p class="lead fs-2 text-secondary" data-aos="zoom-in" data-aos-anchor="#technique">
          No movie theatrics. No wasted motion.
        </p>
  
        <p class="lead" data-aos="fade-up">
          Okinawan karate was born from a need to defend against life-threatening danger, not scoring points in a
          tournament.
        </p>
        <p class="lead" data-aos="fade-up">
          A mature attitude is required to safely practice techniques, many of which are illegal in conventional sport
          styles.
        </p>
  
        <!-- <p class="lead" data-aos="fade-up">
          You will learn how to comfortably block full force attacks without pads,
          while developing the control to avoid hurting lower ranked students.
        </p> -->
  
      </div>
      <div class="col-md-5 order-md-1 pt-2 text-center" data-aos="zoom-in-right">
        <div class="ratio ratio-16x9 shadow-1">

          <video preload="metadata" controls
            poster="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_crop,e_auto_color,g_xy_center,w_1100,x_1200,y_500/e_auto_brightness/e_sharpen:100/v1719151822/ook/people/Elbow.png">
            <source
              src="https://res.cloudinary.com/blue-i/video/upload/v1719147455/ook/videos/Takuma_Shidokan_Karate_Intro_Clip.mp4"
              type="video/mp4">
            Your browser does not support HTML video.
          </video>
  
        </div>

  
      </div>
    </div>
  </div>