<div id="get-started" class="container-fluid bg-white py-5">

  <div class="row p-md-4">

    <!-- col get started -->
    <div class="col-md-5 order-md-2" data-aos="fade-left" data-aos-anchor="#get-started">

      <h2 class="featurette-heading lh-1">
        <!-- data-aos="zoom-in-right"-->
        Get <span class="text-muted">Started</span>
      </h2>
      <div class="divider-red"></div>

      <p class="lead fs-2 lh-1 text-dark">
        <!-- data-aos="zoom-in-right"-->
        Take the first step!
      </p>

      <p class="lead">
        We offer a 6-week trial to find out if it's right for you.
      </p>

      <p>You only pay for the uniform, and it's yours to keep if you decide not to continue.</p>

      <div class="text-center">
        <a href="tel:+16169656932" class="btn btn-primary btn-lg mb-2 me-2 fw-bold" data-aos="fade-right"
          onclick="return gtag_report_conversion('tel:616-965-6932');">
          Call<br><span class="fw-normal" style="font-size:0.8em">(616) 965-6932</span></a>
        <!-- Calendly link widget begin -->
        <a href="" class="btn btn-primary btn-lg mb-2 me-2 fw-bold"
          data-aos="fade-left"
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/shidokankarate/30min?hide_event_type_details=0&hide_gdpr_banner=1'});return false;">Schedule
          <br><span class="fw-normal" style="font-size:0.8em">(pick a time)</span>
        </a>
        <!-- Calendly link widget end -->
      </div>

    </div>

    <!-- col class photo -->
    <div class="col-md-7 pb-3" data-aos="zoom-in-up">
      <img
        src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,e_sharpen,g_auto,q_auto/v1706841204/ook/ClassPhoto2023_1200.png"
        alt="" class="img-fluid mx-auto featurette-image shadow-1" data-aos="zoom-in-up">
    </div>

  </div>


</div>

<!-- map -->
<div class="container-fluid bg-dark p-md-4">
  <div class="row">



    <!-- Col Action -->
    <div class="col-md-5 order-md-2">
      <div itemscope itemtype="https://schema.org/LocalBusiness" class="text-light py-4" data-aos="fade-up">
        <p class="lead fs-2 lh-1">Location</p>
        <p>
          <span itemprop="name">Original Okinawan Karate</span><br>
          <span itemprop="streetAddress">5260 Division Ave SE</span><br>
          <span itemprop="addressLocality">Kentwood</span>,
          <span itemprop="addressRegion">MI</span>
          <span itemprop="postalCode">49508</span>
        </p>
      </div>

      <div class="text-light py-4" data-aos="fade-up">
        <p class="lead fs-2 lh-1">Class Times</p>
        <dl>
          <dt class="fw-bold pt-3">Adults</dt>
          <dd>Mon & Wed 6-7:30 pm</dd>
          <dt class="fw-bold pt-3">Kids (11-15)</dt>
          <dd>Mon & Wed 5-6:00 pm</dd>
        </dl>
      </div>


      <!-- <img
        src="https://res.cloudinary.com/blue-i/image/upload/c_fill,w_600,h_338,ar_16:9/v1720464880/ook/OOK-Building-2023-Phone-cropped.png"
        alt="" class="img-fluid mb-3" data-aos="zoom-in-up"> -->

    </div>
    <!-- Col Map -->
    <div class="col-md-7 " data-aos="zoom-in-up">
      <iframe width="100%" height="485" style="border:0" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo9L_Mo2zGYgRNGqjqwHIl1o&key=AIzaSyCd7Cmh5IZHVkspmLaVlC9_ly7TBF_nj9c">
      </iframe>
    </div>


  </div>
</div>