<div id="get-started" class="container-fluid bg-white py-5">
    <div class="row mb-3 p-md-4">
      <div class="col-md-5 pb-3">
        <h2 class="featurette-heading lh-1" data-aos="fade-right" data-aos-anchor="#get-started">
          Get <span class="text-muted">Started</span>
        </h2>
        <div class="divider-red"></div>
        <p class="lead fs-2 lh-1 text-dark" data-aos="fade-left" data-aos-anchor="#get-started">
          Take the first step!
        </p>
  
        <p class="lead" data-aos="fade-up">
          Just call or stop by during class. We would love to talk with you and answer any questions.
        </p>
        <p class="" data-aos="fade-up">
          We offer a no-strings 6-week trial which includes a uniform that is yours to keep.
        </p>
        <div data-aos="fade-up">
          <p class="lead fs-2 lh-1 text-dark">Class Times</p>
          <dl>
            <dt class="fw-bold">Adults</dt>
            <dd>Mon & Wed 6-7:30 pm</dd>
            <dt>Kids (11-15)</dt>
            <dd>Mon & Wed 5-6:00 pm</dd>
          </dl>
        </div>
  
      </div>
      <div class="col-md-7 order-md-2">
        <img
          src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,e_sharpen,g_auto,q_auto/v1706841204/ook/ClassPhoto2023_1200.png"
          alt="" class="img-fluid mx-auto featurette-image shadow-1" data-aos="fade-up">
      </div>
    </div>
  </div>
  
  <!-- map -->
  <div class="container-fluid bg-dark p-md-4">
    <div class="row align-items-between ">
  
      <div class="col-md-5">
        <div class="py-3 text-center" data-aos="fade-up">
          <a href="tel:+16169656932" class="btn btn-primary btn-lg mb-2 me-0 me-md-2">
            (616) 965-6932</a>
          <a class="btn btn-warning btn-lg mb-2 ms-0 ms-md-2" href="https://calendly.com/shidokankarate/30min">
            Schedule a Visit
          </a>
        </div>
      </div>
  
      <div class="col-md-7 order-md-2" data-aos="flip-right">
        <iframe width="100%" height="485" style="border:0" loading="lazy" allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo9L_Mo2zGYgRNGqjqwHIl1o&key=AIzaSyCd7Cmh5IZHVkspmLaVlC9_ly7TBF_nj9c">
        </iframe>
      </div>
  
    </div>
  </div>