<!-- Large Devices and above-->
<div class="parallax-header d-none d-lg-block">
    <div class="container-fluid p-0 shadow-1 position-relative">

        <div class="row d-flex flex-column" style="min-height: 100vh">

            <!-- ROW: Logo and header text -->
            <div class="row pt-header">
                <div class="d-flex ms-3">
                    <div class="flex-shrink-0">
                        <img [src]="srcLogo" class="img-fluid logo-lg shadow" alt="Logo" data-aos="zoom-in-right">
                        <!-- data-aos="zoom-in-right" -->
                    </div>
    
                    <div class="flex-grow-1 ms-3"> <!--data-aos="fade-left"   -->
                        <p class="text-white-50 fs-4 fw-light text-uppercase mb-1" data-aos="fade-down">Welcome to</p>
                        <p class="text-light fs-1 fw-semibold mb-1" data-aos="zoom-in-left">Shidokan Takuma</p>
                        <p class="text-white fs-4 fw-light" data-aos="fade-up">an extension of the Shōrin-ryū Karatedo
                            Association in Okinawa</p>
                    </div>
    
                </div>
            </div>

            <!-- ROW: Original Okinawan Karate -->
            <div class="row flex-grow-1 align-items-center">
                <div class="text-ook-lg text-center">
                    <p>
                        <span data-aos="fade-in-up" data-aos-delay="1000" data-aos-duration="2000">Original. </span>
                        <span data-aos="fade-in" data-aos-delay="1800" data-aos-duration="2000">Okinawan. </span>
                        <span data-aos="fade-in" data-aos-delay="2600" data-aos-duration="2000">Karate.</span>
                    </p>
                </div>
            </div>
            
            <!-- ROW: Arrow Icon -->
            <div class="row align-items-end pb-2">
                <div class="text-center">
                    <a class="btn btn-dark" href="#authentic" 
                        data-aos="zoom-out-down" 
                        data-aos-duration="2000"
                        data-aos-delay="3000"
                        data-aos-anchor="#nav">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#E5E5E7"
                            class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1" />
                        </svg>
                    </a>
                </div>
            </div>
            
        </div>

    </div>
</div>






<!-- MOBILE Devices -->
<div class="parallax-header-sm d-lg-none">
    <div class="container-fluid p-0 shadow position-relative">

        <div class="row d-flex flex-column" style="min-height: 100vh">

            <!-- SM ROW: Logo and Header Text -->
            <div class="row pt-header pe-0">
                <div class="d-flex pe-0">
                    <div class="flex-shrink-0">
                        <img [src]="srcLogo" class="ms-1 img-fluid logo-sm shadow" alt="Logo" 
                             data-aos="zoom-in-right">
                    </div>
    
                    <div class="flex-grow-1 ms-3" >
                        <p class="text-white-50 fs-5 fw-light text-uppercase mb-0" 
                            data-aos="fade-down-right">
                            Welcome to
                        </p>
                        <p class="text-light fs-3 fw-semibold mb-1" 
                            data-aos="zoom-in-right" data-aos-delay="200">
                            Shidokan Takuma
                        </p>
                        <p class="text-tagline" data-aos="fade-up-right" data-aos-delay="400">
                            an extension of the Shōrin-ryū Karatedo Association in Okinawa
                        </p>
                    </div>
                </div>
            </div>

            <!-- SM ROW: Original Okinawan Karate -->
            <div class="row flex-grow-1 align-items-center">
                <div class="text-ook text-center">
                        <p data-aos="fade-in" data-aos-delay="1000" data-aos-duration="2000">Original.</p>
                        <p data-aos="fade-in" data-aos-delay="1800" data-aos-duration="2000">Okinawan.</p>
                        <p data-aos="fade-in" data-aos-delay="2600" data-aos-duration="2000">Karate.</p>
                </div>
            </div>

            <!-- SM ROW: Arrow Icon -->
            <div class="row align-items-end pb-2">
                <div class="row align-items-end pb-2">
                    <div class="text-center">
                        <a class="btn btn-dark" href="#authentic" 
                            data-aos="zoom-out-down" 
                            data-aos-duration="2000"
                            data-aos-delay="3000"
                            data-aos-anchor="#nav">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#E5E5E7"
                                class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>