<h1>Lineage Page...</h1>
<p>Diagram and Bios like the original site. Video interviews with Masters - shorts at the top</p>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-md-3 text-center">
      <div class="ratio ratio-9x16">
        <iframe src="https://www.youtube-nocookie.com/embed/tOblKQOAkZc?si=vJ252vgq7Mvkynr9"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
      </div>
      <figcaption class="figure-caption">
        Meet Sensei Maeshiro (40 sec)
      </figcaption>
    </div>
    <div class="col-6 col-md-3">
      <div class="ratio ratio-9x16">
        <iframe src="https://www.youtube-nocookie.com/embed/ehQWLacwIYw?si=GLu4o15kXq9ZjTOQ"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
      </div>
      <figcaption class="figure-caption">
        Meet Sensei Iha (55 sec)
      </figcaption>
    </div>
  </div>
</div>

<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="ratio ratio-9x16">
            <iframe src="https://www.youtube-nocookie.com/embed/ehQWLacwIYw?si=GLu4o15kXq9ZjTOQ"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,g_xy_center,q_auto:best,y_1500/v1716947085/ook/people/maeshiro_mayne.jpg"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <!-- mayne with tsuha 16x9 -->
            <img
              src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_crop,e_sharpen,g_center,h_1913,w_3024/c_scale,q_auto:best,w_800/v1716947090/ook/people/tsuha_mayne.jpg"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <!-- mayne with iha 16x9 -->
            <img
              src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_crop,e_sharpen,g_north_east,w_800/v1717325517/ook/people/iha_teaching_gr.jpg"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>