<h1>Lineage Page...</h1>
<p>Diagram and Bios like the original site. Video interviews with Masters - shorts at the top</p>


<div class="container py-3">
    <!-- style="height: 400px" -->
    <div class="d-flex align-items-stretch">
      <div class="p-2">
        <iframe width="250" height="445" src="https://www.youtube.com/embed/ehQWLacwIYw?si=GLu4o15kXq9ZjTOQ"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="p-2">
        <iframe width="250" height="445" src="https://www.youtube-nocookie.com/embed/tOblKQOAkZc?si=vJ252vgq7Mvkynr9"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="p-2">
        <iframe width="250" height="445" src="https://www.youtube.com/embed/pz7QOU8Vsfg"
          title="Okinawan Karate Master Nakasone Koichi - #沖縄空手 #karate  #okinawa #martialarts #空手 #shorinryu"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>


