<div class="container-fluid py-4">
    <div class="header-content d-flex ms-4">
        <a href="">
            <img [src]="srcLogo" width="130" class="" alt="Logo">
        </a>
        <div class="ms-4">
            <p class="text-white-50 fs-4 fw-light text-uppercase mb-0" data-aos="fade-down">Welcome to</p>
            <p class="text-light fs-1 fw-semibold mb-0" data-aos="fade-right">Shidokan Takuma</p>
            <p class="text-white fs-4 fw-light" data-aos="fade-up">an extension of the Shōrin-ryū Karatedo Association
                in
                Okinawa</p>
        </div>

    </div>
</div>

<!-- better but fix mobile and clear backgrounds -->