<h1>Get Started Page...</h1>
<h2>What to Expect</h2>

<div class="container">
    <div class="lead">
        <ul>
            <li>Kata = forms to teach techniques and build balance and coordination. </li>
            <li>Kumite = 2-person applications to practice of those techniques adding timing and control</li>
            <li>Kata = forms to teach techniques and build balance and coordination. </li>
            <li>Bunkai = defending attack from a group . Building on skills from kata and bunkai. Lots of fun.</li>
            <li>Individual and group instruction. </li>
        </ul>

        <a href="#" class="btn btn-primary">
            Schedule a Visit
        </a>
    </div>
</div>