<h1>Get Started Page...</h1>
<p>
     SCHEDULE A VISIT or simply stop in during class hours to ask questions, watch, or try your first class.
</p>

<h2>6-week trial</h2>
<p>Find out if it's right for you. No strings, no contracts.  
    Only $60 for 6 weeks of classes, and includes uniform that is yours to keep.</p>

<h2>What to Expect</h2>
<p>We work at your pace. Everyone has different goals.</p>

<p>Typical classes include:</p>

<div class="container">
    <div class="lead">
        <ul>
            <li>Kata = forms to teach techniques and build balance and coordination. </li>
            <li>Kumite = 2-person applications to practice of those techniques adding timing and control</li>
            <li>Kata = forms to teach techniques and build balance and coordination. </li>
            <li>Bunkai = defending attack from a group . Building on skills from kata and bunkai. Lots of fun.</li>
            <li>Individual and group instruction. </li>
        </ul>

        <a href="#" class="btn btn-primary">
            Schedule a Visit
        </a>
    </div>
</div>