<section id="home" class="bg-image bg-cover hero-section">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-white">
        <!-- Logo Area -->
        <h1 class="display-4 fw-bold">Technique <span class="text-secondary">Page...</span>  </h1>
        <p>Page showing the parts of the logo and the 5 tenants of our technique. Also, the meaning behind the logo</p>
        

      </div>
    </div>
  </div>
</section>

<section class="container">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est labore ut illo totam sunt in officia odit cumque, tempora sed reiciendis eligendi id velit sequi laborum doloremque voluptatem perferendis. Quibusdam.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est labore ut illo totam sunt in officia odit cumque, tempora sed reiciendis eligendi id velit sequi laborum doloremque voluptatem perferendis. Quibusdam.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est labore ut illo totam sunt in officia odit cumque, tempora sed reiciendis eligendi id velit sequi laborum doloremque voluptatem perferendis. Quibusdam.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est labore ut illo totam sunt in officia odit cumque, tempora sed reiciendis eligendi id velit sequi laborum doloremque voluptatem perferendis. Quibusdam.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est labore ut illo totam sunt in officia odit cumque, tempora sed reiciendis eligendi id velit sequi laborum doloremque voluptatem perferendis. Quibusdam.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est labore ut illo totam sunt in officia odit cumque, tempora sed reiciendis eligendi id velit sequi laborum doloremque voluptatem perferendis. Quibusdam.
    </p>
</section>


