/* import the necessary Bootstrap files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

/* make changes to the !default Bootstrap variables */
// $body-color: green;
// change danger color and others to match the branding...

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "9x16": calc(16 / 9 * 100%)
);

/* finally, import Bootstrap to set the changes! */
@import "../node_modules/bootstrap/scss/bootstrap.scss";


.btn {
    transition: all 0.4s ease;
}

.btn:hover {
    transform:translateY(-3px);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.heading-divider {
    height: 4px;
    width: 70px;
    background: linear-gradient(to right, #C02126,#4D4E22);
    margin: 16px auto;
}

.bg-image {
    background-image: url(https://res.cloudinary.com/blue-i/image/upload/c_crop,g_center,h_400,w_1024/v1716858001/ook/backgrounds/ShuriCastle-1024-gradient.jpg);
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // bottom color first, then top 
    background: linear-gradient(rgba(54,41,28,0.75),rgba(54,41,28,0));
    z-index: -1;    // Put the overlay behind the text
}

.hero-section {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.mt-after-nav {
    // Add spacing below fixed nav bar
    // background-color: darkgray;
    margin-top: 3.5rem;
}

.brightness-75 {
    filter: brightness(75%);
}

// LOGO
.logo-wrapper {
    // flex-basis: 20%;
    position: absolute;
    top: 1em;
}

.logo-lg {
    width: 10em;
}

.logo-sm {
    width: 7em;
}

.bottom-center {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

// FEATURETTE
.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-size: 50px;
    margin-top: 1rem;
    letter-spacing: -.05rem;
}


// .darkened-image-lg {
//     // filter: brightness(50%);
//     background:linear-gradient(
//         to bottom, rgba(var(--bs-dark-rgb)) 3%,
//         rgba(0,0,0,0)), 
//         url('https://res.cloudinary.com/blue-i/image/upload/v1716858001/ook/backgrounds/ShuriCastle-1024-gradient.jpg');
//     background-size: 100% auto;
//     background-repeat: no-repeat;
//     min-height: 50em;
// }



// TESTING
.bd-highlight{
background-color: rgba(86, 61, 124, 0.15);
border: 1px solid rgba(86, 61, 124, 0.15);
}