.logo-lg {
    width: 10em;
}

.logo-sm {
    width: 100px;
}

.logo-wrapper {
    flex-basis: 20%
}

.darkened-image {
    // filter: brightness(50%);
    background:linear-gradient(
        to bottom, rgba(var(--bs-dark-rgb)) 3%,
        rgba(0,0,0,0)), 
        url('https://res.cloudinary.com/blue-i/image/upload/c_fill,h_600,w_1200/v1715603335/ook/backgrounds/1024px-Karate_ShuriCastle.jpg');
    // background-image: url('https://res.cloudinary.com/blue-i/image/upload/c_fill,h_600,w_1200/v1715603335/ook/backgrounds/1024px-Karate_ShuriCastle.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 50em;
}

