<app-home-header></app-home-header>

<!-- SECTION AUTHENTIC -->
<div class="container-fluid bg-light" id="authentic">
  <!-- First Row -->
  <div class="row p-md-4">
    <div class="col-md-6">

      <h2 class="featurette-heading lh-1" data-aos="fade-right"><span class="text-muted">Truly </span>Authentic</h2>
      <p class="lead fs-2 text-secondary" data-aos="zoom-in-left" data-aos-anchor="#authentic">
        Introducing <span class="fw-bold">REAL</span> Okinawan karate.
      </p>
      <div class="divider-red"></div>
      <p class="lead" data-aos="fade-up">Since the 1980s we've been dedicated students of Seikichi Iha (伊波清吉), Hanshi
        10th Dan,
        and highest ranking Shōrin-ryū master in the US.
      </p>
      <p class="lead" data-aos="fade-up">
        In 2024 we were accepted directly under Morinobu Maeshiro (真栄城 守信),
        Hanshi 10th Dan and President of the world Shorinryu Karatedo Association in Okinawa.
      </p>
      <p class="lead mb-1" data-aos="fade-up">
        The Okinawa Prefecture Government has designated both Iha Sensei and Maeshiro Sensei as
        <span class="text-success fw-bold">Intangible Cultural Asset Holders</span> in the Field of Okinawan Karate,
        a recognition of authenticity and historical preservation granted to only 9 masters alive today.
      </p>
    </div>

    <div class="col-md-6 pt-md-5 text-center mb-3">
      <img
        src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,g_xy_center,q_auto:best,y_1500/v1716947085/ook/people/maeshiro_mayne.jpg"
        class="card-img-top" alt="Sensei Mayne with Sensei Maeshiro">
      <figcaption class="figure-caption">
        Sensei Maeshiro and Mayne<br><small class="text-muted">Okinawa, April 2024</small>
      </figcaption>
    </div>

  </div>
  <!-- /END First Row -->

  <div class="row mb-3 p-md-4">
    <div class="col-md-4 text-center pb-3" data-aos="fade-up">
      <img
        src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_crop,e_sharpen,g_north_east,w_800/v1717325517/ook/people/iha_teaching_gr.jpg"
        class="card-img-top" alt="Sensei Mayne with Sensei Maeshiro">
      <figcaption class="figure-caption">
        Sensei Iha teaching in Grand Rapids
      </figcaption>

    </div>

    <!-- meet maeshiro -->
    <div class="col-6 col-md-4" data-aos="fade-up" data-aos-delay="200">
      <div class="card h-100">
        <div class="row g-0">
          <div class="col-md-4">
            <video preload="metadata" controls class="card-img-top" style="border-top-right-radius:0">
              <source src="https://res.cloudinary.com/blue-i/video/upload/v1718277386/ook/videos/Maeshiro_short.mp4#t=0.1"
                type="video/mp4">
              Your browser does not support HTML video.
            </video>

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Meet Sensei Maeshiro</h5>
              <p class="card-text">Click to hear a brief introduction.</p>
              <p class="card-text">[link to full interview]</p>
              <p class="card-text text-muted"><small>Credit:
                  <a href="https://travel67.com/the-karate-masters-portrait-project/sensei-documentary/sensei-series-two/"
                    target="_blank" 
                    class="text-decoration-none"
                    rel="noopener noreferrer">Chris Wilson Photography</a></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- meet iha -->
    <div class="col-6 col-md-4" data-aos="fade-up" data-aos-delay="400">
      <div class="card h-100">
        <div class="row g-0">
          <div class="col-md-4">
            <video preload="metadata" controls class="card-img-top" style="border-top-right-radius:0">
              <source
                src="https://res.cloudinary.com/blue-i/video/upload/vc_auto/v1718277389/ook/videos/Seikichi_Iha_short.mp4#t=0.1"
                type="video/mp4">
              Your browser does not support HTML video.
            </video>

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Meet Sensei Iha</h5>
              <p class="card-text">Watch this brief 1 min video where he talks about his history. More...</p>
              <p class="card-text">[link to full interview]</p>
              <p class="card-text"><small class="text-muted">Credit:
                  <a href="https://travel67.com/the-karate-masters-portrait-project/sensei-documentary/sensei-series-two/"
                    target="_blank" 
                    class="text-decoration-none"
                    rel="noopener noreferrer">Chris Wilson Photography</a></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- INSTRUCTORS -->
<app-instructors></app-instructors>


<!-- TECHNIQUE -->
<div id="technique" class="container-fluid bg-light py-5">
  <div class="row mb-3 p-md-4">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading lh-1" data-aos="fade-left">Effective <span class="text-muted">Technique</span></h2>
      <div class="divider-red"></div>


      <p class="lead fs-2 text-secondary" data-aos="zoom-in" data-aos-anchor="#technique">
        No movie theatrics. No wasted motion.
      </p>

      <p class="lead" data-aos="fade-up">
        Okinawan karate was born from a need to defend against life-threatening danger, not scoring points in a
        tournament.
      </p>
      <p class="lead" data-aos="fade-up">
        A mature attitude is required to safely practice techniques, many of which are illegal in conventional sport
        styles.
      </p>

      <!-- <p class="lead" data-aos="fade-up">
        You will learn how to comfortably block full force attacks without pads,
        while developing the control to avoid hurting lower ranked students.
      </p> -->

    </div>
    <div class="col-md-5 order-md-1 pt-2 text-center" data-aos="zoom-in-right">
      <div class="ratio ratio-16x9 shadow-1">
        <!-- IFRAME CAUSING ISSUES????? ------------------------------------------------------- -->
        <!-- <iframe
          src="https://www.youtube-nocookie.com/embed/i5xd52F--tw?si=53gBYpXGC0Lxgyzr&amp;start=35&amp;clip=UgkxeSN3DUZCkt9MoePhOBG8vpU_fBFSUEzk&amp;clipt=EIihAhiX1gI"
          title="Serious Karate Instructors"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe> -->

        <video preload="metadata" controls  poster="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_crop,e_auto_color,g_xy_center,w_1100,x_1200,y_500/e_auto_brightness/e_sharpen:100/v1719151822/ook/people/Elbow.png">
          <source src="https://res.cloudinary.com/blue-i/video/upload/v1719147455/ook/videos/Takuma_Shidokan_Karate_Intro_Clip.mp4"
                  type="video/mp4">
          Your browser does not support HTML video.
        </video>



      </div>
      <!-- <figcaption class="figure-caption">
        Very serious
      </figcaption> -->

    </div>
  </div>
</div>

<!-- START TODAY -->
<div id="get-started" class="container-fluid">
  <div class="row mb-3 p-md-4">
    <div class="col-md-5 pb-3">
      <h2 class="featurette-heading lh-1" data-aos="fade-right" data-aos-anchor="#get-started">
        Get <span class="text-muted">Started</span>
      </h2>
      <div class="divider-red"></div>
      <p class="lead fs-2 lh-1 text-dark" data-aos="fade-left" data-aos-anchor="#get-started">
        Take the first step!
      </p>

      <p class="lead" data-aos="fade-up">
        Just call or stop by during class.  We would love to talk with you and answer any questions. 
      </p>
      <p class="" data-aos="fade-up">
        We offer a no-strings 6-week trial which includes a uniform that is yours to keep.
      </p>
      <div data-aos="fade-up">
        <p class="lead fs-2 lh-1 text-dark">Class Times</p>
        <dl>
          <dt class="fw-bold">Adults</dt>
          <dd>Mon & Wed 6-7:30 pm</dd>
          <dt>Kids (11-15)</dt>
          <dd>Mon & Wed 5-6:00 pm</dd>
        </dl>
      </div>

    </div>
    <div class="col-md-7 order-md-2">
      <img
        src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,e_sharpen,g_auto,q_auto/v1706841204/ook/ClassPhoto2023_1200.png"
        alt="" class="img-fluid mx-auto featurette-image shadow-1" data-aos="fade-up">
    </div>
  </div>
</div>

<!-- map -->
<div class="container-fluid mb-3 p-md-4">
  <div class="row align-items-between ">

    <div class="col-md-5">
      <div class="py-3 text-center" data-aos="fade-up">
        <a href="tel:+16169656932" class="btn btn-primary btn-lg mb-2 me-0 me-md-2">
          (616) 965-6932</a>
        <a class="btn btn-warning btn-lg mb-2 ms-0 ms-md-2"
           href="https://calendly.com/shidokankarate/30min">
          Schedule a Visit
        </a>
      </div>
    </div>

    <div class="col-md-7 order-md-2" data-aos="flip-right">
      <iframe width="100%" height="485" style="border:0" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo9L_Mo2zGYgRNGqjqwHIl1o&key=AIzaSyCd7Cmh5IZHVkspmLaVlC9_ly7TBF_nj9c">
      </iframe>
    </div>

  </div>
</div>


<!-- FOOTER -->
<div class="container-fluid bg-dark bg-gradient mt-1">

  <footer class="d-flex flex-wrap justify-content-center align-items-center py-2">

    <small class="text-light">Shidokan Takuma - Copyright 2024</small>
    <!-- <small class="text-light">(facebook icon)</small> -->
    <!-- <small class="text-light">Website by Blue i Productions, LLC</small> -->

  </footer>
</div>