<!-- Large Devices and above-->
<div class="container-fluid p-0 d-none d-lg-block bg-dark">
  <!-- Background Image -->
  <img
    src="https://res.cloudinary.com/blue-i/image/upload/c_crop,g_north,h_440,w_1024/v1716858001/ook/backgrounds/ShuriCastle-1024-gradient.jpg"
    class="img-fluid _position-relative__ w-100" alt="">

  <!-- Logo Area -->
  <div class="d-flex pt-2 logo-wrapper">

    <div class="flex-shrink-0">
      <img [src]="srcLogo" class="mx-3 img-fluid logo-lg shadow" alt="Logo">
    </div>

    <div class="flex-grow-1 ms-1">
      <p class="text-white-50 fs-4 fw-light text-uppercase mb-1">Welcome to</p>
      <p class="text-light fs-1 fw-semibold mb-1">Shidokan Takuma</p>
      <p class="text-white fs-4 fw-light">an extension of the Shōrin-ryū Karatedo Association in
        Okinawa</p>
    </div>

  </div>

</div>

<!-- Less than Lg Devices -->
<div class="container-fluid p-0 d-lg-none shadow">
  <!-- Background Image CROP WIDTH ON LEFT TO MAKE TALLER -->
  <img
    src="https://res.cloudinary.com/blue-i/image/upload/c_crop,g_north,h_440,w_1024/v1716858001/ook/backgrounds/ShuriCastle-1024-gradient.jpg"
    class="img-fluid position-relative__ w-100 brightness-75">

    <!-- Logo Area -->
  <div class="d-flex pt-2 logo-wrapper">

    <div class="flex-shrink-0">
      <img [src]="srcLogo" class="mx-3 img-fluid logo-sm shadow" alt="Logo">
    </div>

    <div class="flex-grow-1 ms-1">
      <p class="text-white-50 fs-5 fw-light  text-uppercase mb-0">Welcome to</p>
      <p class="text-light fs-1 fw-semibold mb-1">Shidokan Takuma</p>
      <p class="text-white fs-6 fw-light lh-1 ">an extension of the Shōrin-ryū Karatedo Association in
        Okinawa</p>
    </div>

  </div>
</div>




<!--  CAROUSEL UNDER -->
<div class="container">

  <!-- START THE FEATURETTES -->
  <!-- LINEAGE -->
  <div class="row featurette mt-4">

    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Authentic <span class="text-muted">Lineage</span></h2>
      <p class="lead">Since the 1980s we've been dedicated students and friends of Iha Seikichi, Hanshi 10th Dan,
        and highest ranking Shōrin-ryū master in the United States.
      </p>
      <p class="lead">
        In 2024 we were hoored to be accepted under Morinobu Maeshiro ( 真栄城 守信 ),
        Hanshi 10th Dan and President of the world Shorinryu karatedo Association based in Naha, Okinawa.
      </p>
      <p class="lead">
        In May 2020, the Okinawa Prefecture Government designated each of these masters as an "Intangible Cultural Asset
        Holder
        in the Field of Okinawan Karate", a designation granted to only 20 karateka ever.
        [link to article]
      </p>
      <a href="#" class="btn btn-link">
        More on lineage...
      </a>
    </div>
    <div class="col-md-5">
      <img
        src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,e_sharpen,g_center,h_500,w_500/v1716947085/ook/people/maeshiro_mayne.jpg"
        class="featurette-image img-fluid mx-auto shadow-sm" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  
  <div class="row featurette">
    <div class="col-md-7 order-md-2">

      <!-- Commitment -->
      <h2 class="featurette-heading fw-normal lh-1">Our <span class="text-muted">Commitment</span></h2>
      <p class="lead">
        Teaching and practicing karate is our passion, but none of our instructors do this for a living.
        Unlike commercialized schools that are focused on profit,
        we invest time to ensure you learn to apply effective techniques.
      </p>
      <p class="lead">
        Whatever your goals, in karate or in life, we will help you achieve them.
        It's fun, rewarding, and the skills you lean will go with you everywhere.
      </p>

      <a href="#" class="btn btn-primary">
        Take the first Step!
      </a>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="https://res.cloudinary.com/blue-i/image/upload/c_fill,e_sharpen:100,g_center,h_340,w_500/v1706841202/ook/20230220_Instructors_1200.png"
        alt="" class="img-fluid mx-auto featurette-image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- EXPERIENCE -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading lh-1">Unmatched <span class="text-muted">Experience</span></h2>
      <p class="lead">
        Our 4 lead instructors collectively have over 130 yrs experience.
        Advanced degree tests are held in Okinawa and certified by the senior masters to ensure integrity
        of the style.
      </p>
    </div>
    <div class="col-md-5">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      <img
        src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,e_sharpen,g_center,h_500,w_500/v1716947085/ook/people/maeshiro_mayne.jpg"
        class="featurette-image img-fluid mx-auto shadow-sm" alt="">
      <figcaption class="figure-caption text-center">
        Allen Mayne, Hanshi, 9th Dan with <br>Morinobu Maeshiro Hanshi 10th Dan<br>Started 1980
      </figcaption>
    </div>
    <div class="row mt-4 text-center">
      <div class="col-md-4 col-sm-6">
        <img
          src="https://res.cloudinary.com/blue-i/image/upload/c_crop,g_face:auto,h_240,w_200/v1715605134/ook/people/Mike_aspect_240_320.jpg"
          alt="Mike Dantuma">
        <figcaption class="figure-caption text-center">
          Mike Dantuma, 8th Dan<br>Started 1982
        </figcaption>
      </div>
      <div class="col-md-4 col-sm-6">
        <img
          src="https://res.cloudinary.com/blue-i/image/upload/c_crop,e_sharpen:100,g_face:center,h_880,w_800/c_fill,h_240,w_200/v1670180171/ook/people/Scott_aspect_240_320.jpg"
          alt="Scott Morey">
        <figcaption class="figure-caption text-center">
          Scott Morey, 7th Dan<br>Started 1988
        </figcaption>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <img
          src="https://res.cloudinary.com/blue-i/image/upload/c_crop,e_sharpen:100,g_face:center,h_880,w_800/c_fill,h_240,w_200/v1670180172/ook/people/Mark_aspect_240_320.jpg"
          alt="">
        <figcaption class="figure-caption">
          Mark Talbot, 7th Dan<br>Started 1988
        </figcaption>
      </div>
    </div>

  </div>

  <hr class="featurette-divider">

  <!-- Technique -->
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading lh-1">Effective <span class="text-muted">Technique</span></h2>
      <p class="lead">
        Okinawan karate was born from a need to defend against life-threatening danger.
        A mature attitude is required to safely practice techniques, many of which are illegal in conventional sport
        styles.
      </p>
      <p class="lead">
        No flying movie theatrics. No wasted motion. No pads.

      </p>
      <p class="lead">
        You will learn how to comfortably block full force attacks without pads,
        while developing the control to avoid hurting lower ranked students. Most importantly, you will not have to
        wonder
        “would this really work?”
      </p>

      <a href="#" class="btn btn-secondary">
        Start YOUR journey
      </a>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>

    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Commitment -->
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading lh-1">Start <span class="text-muted">Today</span></h2>
      <p class="lead">
        What to expect..
      </p>

      New content Fun, inclusive, patient. Build skills each class.
      <ul>
        <li>Kata = forms to teach techniques and build balance and coordination. </li>
        <li>Kumite = 2-person applications to practice of those techniques adding timing and control</li>
        <li>Kata = forms to teach techniques and build balance and coordination. </li>
        <li>Bunkai = defending attack from a group . Building on skills from kata and bunkai. Lots of fun.</li>
        <li>Individual and group instruction. </li>
      </ul>

      <a href="#" class="btn btn-primary">
        Take the first Step!
      </a>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="https://res.cloudinary.com/blue-i/image/upload/ar_16:9,c_fill,e_sharpen,g_auto,w_500/v1706841204/ook/ClassPhoto2023_1200.png"
        alt="" class="img-fluid mx-auto featurette-image shadow">
    </div>
  </div>






</div>