.logo-lg {
    width: 10em;
}

.logo-sm {
    width: 7em;
}

.logo-wrapper {
    flex-basis: 20%
}

.darkened-image-lg {
    // filter: brightness(50%);
    background:linear-gradient(
        to bottom, rgba(var(--bs-dark-rgb)) 3%,
        rgba(0,0,0,0)), 
        url('https://res.cloudinary.com/blue-i/image/upload/v1716858001/ook/backgrounds/ShuriCastle-1024-gradient.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 50em;
}

.darkened-image-sm {
    filter: brightness(60%);
}

.logo-wrapper {
    position:absolute;
    top: 4.5em;
}

